@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@layer components {
  .form-btn {
    @apply bg-primary text-dark-100 hover:bg-primary inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base !important;
  }

  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none bg-dark-300 !important;
  }

  /* Book Card */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white xs:text-xl;
  }

  .book-author {
    @apply mt-1 line-clamp-1 text-sm text-light-200 xs:text-base;
  }

  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 xs:text-base;
  }

  .book-loaned {
    @apply flex flex-row items-center gap-1 max-xs:justify-center;
  }

  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }

  /* Borrowed Book */
  .borrowed-book {
    @apply gradient-vertical p-5 rounded-2xl xs:w-min w-full relative;
  }

  .borrowed-book_cover {
    @apply py-4 lg:px-16 px-10 flex justify-center items-center w-full rounded-lg;
  }

  /* Book Cover */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }

  .book-cover_small {
    @apply w-[55px] h-[76px];
  }

  .book-cover_medium {
    @apply w-[144px] h-[199px];
  }

  .book-cover_regular {
    @apply xs:w-[174px] w-[114px] xs:h-[239px] h-[169px];
  }

  .book-cover_wide {
    @apply xs:w-[296px] w-[256px] xs:h-[404px] h-[354px];
  }

  /* Book List */
  .book-list {
    @apply mt-10 grid grid-cols-2 gap-4 sm:gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 max-xs:justify-between xs:gap-10;
  }

  /* Book Overview */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-6 sm:gap-12 xl:flex-row xl:gap-8;
    @apply w-full max-w-full overflow-hidden;
  }

  .book-overview h1 {
    @apply text-4xl font-semibold text-white sm:text-6xl;
    @apply break-words;
  }

  .book-info {
    @apply flex flex-row flex-wrap gap-3 text-base text-light-100 sm:gap-4 sm:text-xl;
    @apply w-full max-w-full;
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4;
  }

  .book-copies p {
    @apply text-xl text-light-100;
  }

  .book-copies p span {
    @apply ml-2 font-semibold text-primary;
  }

  .book-description {
    @apply mt-2 text-justify text-base text-light-100 sm:text-xl;
    @apply break-words;
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full !important;
  }

  /* File Upload */
  .upload-btn {
    @apply flex min-h-14 w-full min-w-0 items-center justify-center gap-1.5 rounded-md px-3;
  }

  .upload-filename {
    @apply mt-1 w-full break-words text-center text-xs;
  }

  .progress {
    @apply rounded-full bg-green-800 p-0.5 text-center font-bebas-neue text-[8px] font-bold leading-none text-light-100;
  }

  /* Search */
  .search {
    @apply relative mt-10 flex min-h-14 w-full items-center rounded-xl bg-dark-300 px-4;
  }

  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none !important;
  }

  /* Book Receipt */
  .book-receipt_admin-btn {
    @apply bg-light-300 rounded-md text-primary-admin font-semibold hover:bg-light-300/80 !important;
  }

  /* Book Ticket */
  #book-ticket {
    @apply relative mt-10 hidden w-[544px] overflow-hidden bg-dark-300 py-8;
  }

  #book-ticket #book-details div {
    @apply space-y-1 rounded-md border border-light-100/10 p-3;
  }

  #book-ticket #book-details div p:first-child {
    @apply text-xs text-light-700;
  }

  #book-ticket #book-details div p:last-child {
    @apply text-sm font-bold text-white;
  }

  #book-ticket #book-divider div:first-child {
    @apply absolute -left-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  #book-ticket #book-divider div:last-child {
    @apply absolute -right-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  .book-ticket-circles {
    @apply absolute inset-x-0 -bottom-6 flex flex-row gap-1.5;
  }

  /* Not Found */
  #not-found {
    @apply flex justify-center items-center flex-col text-center w-full;
  }

  #not-found h4 {
    @apply text-white mt-6 font-semibold text-2xl;
  }

  #not-found p {
    @apply text-light-100 w-[360px] mt-1;
  }

  .not-found-btn {
    @apply bg-primary font-bebas-neue min-w-[360px] mt-6 text-dark-100 text-xl hover:bg-primary/90 min-h-12 !important;
  }

  /* Pagination */
  #pagination {
    @apply flex flex-row justify-end gap-3;
  }

  .pagination-btn_light {
    @apply bg-light-300 text-dark-300 hover:bg-light-300/70 !important;
  }

  .pagination-btn_dark {
    @apply bg-dark-300 hover:bg-dark-100 !important;
  }

  #pagination p {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
  }

  /* Sort */
  .select-trigger {
    @apply w-40 h-10 px-4 bg-dark-300 text-light-100 border-dark-100 !important;
  }

  .select-content {
    @apply bg-dark-300 text-light-100 border-dark-100 !important;
  }

  .select-item {
    @apply focus:bg-dark-600 focus:text-light-100 !important;
  }
}

@layer utilities {
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 sm:flex-row;
  }

  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center bg-pattern bg-cover bg-top bg-dark-100 px-4 py-3 sm:px-5 sm:py-10;
  }

  .auth-box {
    @apply gradient-vertical mx-auto flex max-w-xl flex-col gap-3 rounded-lg border border-white/10 p-4 shadow-[0_30px_60px_-45px_rgba(0,0,0,0.9)] sm:gap-6 sm:p-10;
  }

  .auth-illustration {
    @apply sticky h-40 w-full sm:top-0 sm:h-screen sm:flex-1;
  }

  /* Root */
  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top bg-dark-100 px-5 xs:px-10 md:px-16;
    @apply w-full max-w-full overflow-x-hidden;
  }

  /* Book Details */
  .book-details {
    @apply py-8 flex flex-col gap-8 sm:py-12 sm:gap-12 lg:flex-row lg:py-16 lg:gap-16;
    @apply w-full max-w-full overflow-hidden;
  }

  .book-details h3 {
    @apply text-xl font-semibold text-primary;
  }

  /* Library */
  .library {
    @apply mx-auto flex max-w-xl w-full flex-col text-center;
  }

  .library-subtitle {
    @apply text-lg font-semibold uppercase text-light-100;
  }

  .library-title {
    @apply mt-2 text-3xl font-semibold text-white xs:text-5xl;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #16191e;
    --card: #ffffff;
    --card-foreground: #16191e;
    --popover: #ffffff;
    --popover-foreground: #16191e;
    --primary: #e7c9a5;
    --primary-foreground: #16191e;
    --secondary: #f8f8ff;
    --secondary-foreground: #16191e;
    --muted: #f8f8ff;
    --muted-foreground: #8d8d8d;
    --accent: #f8f8ff;
    --accent-foreground: #16191e;
    --destructive: #ef3a4b;
    --destructive-foreground: #ffffff;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #16191e;
    --chart-1: #ef3a4b;
    --chart-2: #027a48;
    --chart-3: #25388c;
    --chart-4: #e7c9a5;
    --chart-5: #0089f1;
    --radius: 0.5rem;
  }
  .dark {
    --background: #16191e;
    --foreground: #d6e0ff;
    --card: #232839;
    --card-foreground: #d6e0ff;
    --popover: #232839;
    --popover-foreground: #d6e0ff;
    --primary: #e7c9a5;
    --primary-foreground: #16191e;
    --secondary: #3a354e;
    --secondary-foreground: #d6e0ff;
    --muted: #3a354e;
    --muted-foreground: #eed1ac;
    --accent: #3a354e;
    --accent-foreground: #d6e0ff;
    --destructive: #ef3a4b;
    --destructive-foreground: #ffffff;
    --border: #3a354e;
    --input: #3a354e;
    --ring: #e7c9a5;
    --chart-1: #ef3a4b;
    --chart-2: #027a48;
    --chart-3: #25388c;
    --chart-4: #e7c9a5;
    --chart-5: #0089f1;
  }
}
